.sidenav {
  width: 250px !important;
  border-color: rgba(0,0,0,.05);
  height: 100vh;
  border-style: solid;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding: 1.5rem;
    
}
.drawer-container {
  height: 100vh;
}
.sidenav-content {
  background-color: #f8f9fe;
}
.mat-toolbar{
    border-bottom:1px solid rgba(0,0,0,.04)!important;
    background-color: #f8f9fe;
}
.logo{
    font-size: 32px;
    font-weight: bold;
    color: rgb(238, 32, 32);  
}
.profile{    transform: translate(-146px, 40px);
    position: absolute;
     top: 30px!important; 
   left: 0!important; 
    will-change: transform;
    width: 280px;
    padding: 0px;
   
}
.dropdown-toggle::after {
    display: none;
    
}
.menu .title{    background-color: #1e88e5!important;}
.ms-0{margin-left: 0.5rem!important;}
.menu-list .mat-list .mat-list-item:hover{
    background-color: #eee;
}